<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Gerenciamento Doméstico{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <link rel="icon" href="{{ url_for('static', filename='img/icon-192x192.png') }}">
  <meta name="theme-color" content="#4A6B5C">
  <link rel="shortcut icon" type="imagex/ico" href="{{ url_for('static', filename='img/iconavegador.ico') }}">
</head>
<body>
  <header>
    <h1>{% block header %}{% endblock %}</h1>
  </header>
  
  <nav>
    <a href="{{ url_for('dashboard') }}">
      <img src="{{ url_for('static', filename='img/home_17905779.gif') }}" alt="Dashboard" class="icon"> Dashboard
    </a>
    <a href="{{ url_for('tasks') }}">
      <img src="{{ url_for('static', filename='img/prancheta.gif') }}" alt="Tarefas" class="icon"> Tarefas
    </a>
    <a href="{{ url_for('expenses') }}">
      <img src="{{ url_for('static', filename='img/dolar.gif') }}" alt="Despesas" class="icon"> Despesas
    </a>
    <a href="{{ url_for('house_info') }}">
      <img src="{{ url_for('static', filename='img/perfil.gif') }}" alt="Casa/Moradores" class="icon"> Casa/Moradores
    </a>
  </nav>
  
  <main>
    {% block content %}{% endblock %}
  </main>

  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register("{{ url_for('static', filename='service-worker.js') }}")
          .then(registration => {
            console.log('ServiceWorker registrado com sucesso:', registration);
          })
          .catch(error => {
            console.log('Falha ao registrar o ServiceWorker:', error);
          });
      });
    }
  </script>
</body>
</html>
