<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Gerenciamento Doméstico{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='img/icon-192x192.png') }}">
  <meta name="theme-color" content="#ffffff">
  <link rel="shortcut icon" type="imagex/ico" href="{{ url_for('static', filename='img/iconavegador.ico') }}">
  <link rel="manifest" href="{{ url_for('manifest') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/house_status.css') }}">
</head>
<body>
  <header>
    <h1>{% block header %}{% endblock %}</h1>
  </header>
  
  <nav>
    <a href="{{ url_for('dashboard') }}">
      <img src="{{ url_for('static', filename='img/home_17905779.gif') }}" alt="Dashboard" class="icon"> Dashboard
    </a>
    <a href="{{ url_for('tasks') }}">
      <img src="{{ url_for('static', filename='img/prancheta.gif') }}" alt="Tarefas" class="icon"> Tarefas
    </a>
    <a href="{{ url_for('expenses') }}">
      <img src="{{ url_for('static', filename='img/dolar.gif') }}" alt="Despesas" class="icon"> Despesas
    </a>
    <a href="{{ url_for('house_info') }}">
      <img src="{{ url_for('static', filename='img/perfil.gif') }}" alt="Casa/Moradores" class="icon"> Casa/Moradores
    </a>
  </nav>
  
  <main>
    {% block content %}{% endblock %}
  </main>

  <button id="install-button" style="display: none; position: fixed; bottom: 10px; right: 10px; padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer;">Instalar Aplicativo</button>

  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  <script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-worker.js')
            .then(function(registration) {
                console.log('Service Worker registered with scope:', registration.scope);
            }).catch(function(error) {
                console.log('Service Worker registration failed:', error);
            });
    }

    let deferredPrompt;
    const installButton = document.getElementById('install-button');

    window.addEventListener('beforeinstallprompt', (e) => {
        console.log('beforeinstallprompt event fired');
        e.preventDefault();
        deferredPrompt = e;
        installButton.style.display = 'block';

        installButton.addEventListener('click', () => {
            installButton.style.display = 'none';
            deferredPrompt.prompt();
            deferredPrompt.userChoice.then((choiceResult) => {
                if (choiceResult.outcome === 'accepted') {
                    console.log('User accepted the install prompt');
                } else {
                    console.log('User dismissed the install prompt');
                }
                deferredPrompt = null;
            });
        });
    });

    window.addEventListener('appinstalled', (evt) => {
        console.log('a2hs installed');
    });
  </script>
</body>
</html>
